<div class="container">
	<footer>
		<small>
			Copyright &copy; <a href="https://www.udemy.com">Udemy</a>
			developed by <a href="https://github.com/enriqueparrac">Enrique Parra Carrion</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>